.TabView {
    width: 100%;
  }
  
 .title {
    font-weight: bold;
    padding: 0.5em;
  }
  
.body {
    padding: 1em;
  }
  
.tabs {
    display: flex;
    .tab {
        padding: 5px 1em;
      }
      
      .active-tab {
        padding: 5px 1em;
        border-left: 1px solid rgb(177, 109, 109);
        border-top: 1px solid rgb(177, 109, 109);
        border-right: 1px solid rgb(177, 109, 109);
        background-color: lightgray;

        &.content {
          border-top: transparent;
        }
      }
  }

  
.content {
    padding: 1em;
    background-color: lightgrey;
    border-top: 1px solid gray;
  }